.searchform {
  .search-input-group {
    position: relative;

    .form-control {
      height: 34px;
      padding: 6px 40px 6px 12px;
      border-radius: 50px;
    }

    button {
      background: transparent;
      border: 0;
      height: 100%;
      position: absolute;
      top: 0;
      right: 14px;
      bottom: 0;
      width: 24px;
      line-height: 34px;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        font-size: 20px;
        font-weight: bold;
        color: $text-color;
      }
    }
  }
}

.article-header {
  &.search {
    .searchform {
      .search-input-group {
        .form-control {
          border: 1px solid rgba($dark-bg-color, 0.1);
          padding: 12px 58px 12px 20px;
          font-size: 22px;
          height: auto;
  
          @include transition(border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out);
  
          &:focus {
            border-color: $dark-bg-color;
            box-shadow: 0 0 25px rgba($dark-bg-color, 0.2);
          }
        }

        button {
          width: 34px;
        }
      }
    }
  }
}

@include below(1075px) {
  body > .algolia-autocomplete {
    height: auto;
    overflow: visible;
  }

  body > .algolia-autocomplete .aa-dropdown-menu {
    max-height: var(--mobile-search-results-height, 250px);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}
